div.img {
    margin: 2px;
    padding: 2px;
    border: 2px solid #ff6a00;
    height: 125px;
    width: 85px;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: initial;
}

div.img a:hover img {
    border:0px solid #000000;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: auto;
    margin: 5px;
	overflow-wrap: break-word;
}
a {
	color: #000;
}
a.back {
	color: #0200ff;
}
mark {
	background-color: #fff;
}
mark.a {
	color: #00ff21
}
mark.b {
	color: #0200ff
}