body {
}
div.ribbon {
	border: 3px solid #0094ff;
}
input.button {
	border: 3px solid #00ff21;
	margin: 2px;
	width: 100px;
	height: 50px;
}
input.buttonN{
	border: 3px solid #00ff21;
	margin: 2px;
	width: 370px;
	height: 50px;
    text-align: center;
}
div.renameBox {
    position: absolute;
    left: 0px;
    top: 60px;
    color: #00ff21;
    z-index: 1;
}