div.img {
    margin: 2px;
    padding: auto;
    border: 2px solid #00ffd0;
    float: left;
    text-align: center;
	width: 200px;
	height: 300px;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 100px;
    margin: 5px;
}